# Secrets and Environment
.env
.env/
.venv/
venv/
env/
.Python

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.pdf

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.tar
*.tar.gz
Dockerfile

# Project specific
inspiration.md
cv_template.tex
index_template.md
cv.tex
ref/